* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  gap: 1.5rem; 
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 1rem;
}

@media screen and (max-width: 1200px){
  .App {
    flex-direction: column;
    align-items: center;
  }
}


.add-form-container {
  background: #fff;
  color: #282c34;
  padding: 1.5rem;
  min-width: fit-content;
  width: fit-content;
  height: fit-content;
  border-radius: 10px;
}

.add-form-container form {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  width: 500px;
}

.add-form-container input, #search-input {
  padding: .7rem;
  min-width: 350px;
  width: fit-content;
  width: 100%;
  outline: 0;
  box-shadow: 0 0 3px #282c34;
  border-radius: 5px;
}

#search-btn {
  width: fit-content;
  box-shadow: 0 0 3px #ccc;
  padding: .6rem;
  font-weight: 700;
  border-radius: 1px;
}

.search-container {
  display: flex;
  margin-bottom: .6rem;
  margin-top: .6rem;
  justify-content: flex-start;
  max-width: 550px;
}

.add-form-container label {
  font-size: 1.5rem;
  letter-spacing: .5px;
}

#editBtn {
  display: none;
}

button {
  padding: .7rem;
  letter-spacing: 1.5px;
  font-weight: 600;
  border: none;
  background: #282c34;
  color: #ccc;
  border-radius: 5px;
}

.employee-card {
  color: #282c34;
  background-color: #fff;
  width: 550px;
  border-radius: 10px 2px;
  padding: 1rem;
  margin-bottom: 1rem;
  position: relative;
}

.employee-card header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.employee-card span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  font-size: .7rem;
}

.user-image {
  position: absolute;
  right: 5%;
  bottom: 10%;
  box-shadow: 0 0 1px #000;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.employee-details p {
  display: flex;
  gap: 5px;
  align-items: center;
  font-weight: 200;
  line-height: 2rem;
}

.employee-details img {
  width: 1em;
  height: 1em;
}

.btns-container img {
  width: 1.4em;
  height: 1.4em;
  margin-left: 10px;
}